/* === CUSTOM PROPERTIES === */

:root {
    /* colors */
    --clr-dark: black;
    --clr-light: white;
    --clr-white: white;
    
    /* font-sizes */
    --fs-900: 4rem;
    --fs-800: 3rem;
    --fs-700: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: .875rem;
    --fs-200: .75rem;

    /* font weights */
    --fw-700: 700;
    --fw-400: 400;
    
    /* font-families */
    --ff-primary: 'Inter', sans-serif;

    /* Spacing */
    --spacer-lg: 2rem;
    --spacer-md: 1rem;
    --spacer-sm: .5rem;
;
}
/* === BASE RESET === */

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: var(--fw-700);
}

h1 {
    font-size: var(--fs-700);
    text-align: center;
    padding: 1rem;
}

button {
    cursor: pointer;
    padding: var(--spacer-sm);
}

input {
    padding: var(--spacer-sm);
}

.container {
    margin: 0 auto;
    padding: 4rem;
    max-width: 75rem;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 16);
    height: calc( 100% / 16);
    aspect-ratio: 1;
}
