/* === CUSTOM PROPERTIES === */

:root {
    /* colors */
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(0, 0%, 50%);
    --clr-neutral-500: hsl(0, 0%, 30%);
    --clr-neutral-600: hsl(0, 0%, 20%);
    --clr-neutral-900: hsl(0, 0%, 0%);
    
    --clr-primary-100: hsl(0, 100%, 85%);
    --clr-primary-200: hsl(0, 100%, 75%);
    --clr-primary-300: hsl(0, 100%, 65%);
    --clr-primary-400: hsl(0, 100%, 55%);
    --clr-primary-500: hsl(0, 100%, 45%);
    --clr-primary-600: hsl(0, 100%, 35%);
    --clr-primary-700: hsl(0, 100%, 25%);

    --shadow: 3px 3px 5px rgb(0 0 0 / .3);

    /* font-sizes */
    --fs-200: .75rem;
    --fs-300: .875rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 3rem;
    --fs-900: 4rem;

    /* font weights */
    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900;
    
    /* font-families */
    --ff-primary: 'Lato', sans-serif;

    /* Spacing */
    --spacer-sm: .5rem;
    --spacer-md: 1rem;
    --spacer-lg: 2rem;

    /* Border Radius */
    --br-sm: .5em;
    --br-md: 2em;
    --br-lg: 10em;
}

@media (max-width: 35em) {
  :root {
      --fs-200: .5rem;
      --fs-300: .75rem;
      --fs-400: .875rem;
      --fs-500: 1rem;
      --fs-600: 1.25rem;
      --fs-700: 1.5rem;
      --fs-800: 2rem;
      --fs-900: 3rem;
  }
}

/* === BASE RESET === */

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
  line-height: 1.5;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* === GENERAL STYLES === */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  color: var(--clr-primary-100);
  background: linear-gradient(var(--clr-primary-600), var(--clr-primary-500));
}

footer {
  gap: var(--spacer-sm);
  margin-top: var(--spacer-md);
  font-size: var(--fs-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

.wrapper {
    min-height: 100vh;
    padding: var(--spacer-lg);  
}
.title {
    font-size: var(--fs-900);
    font-weight: var(--fw-900);
    color: var(--clr-primary-300);
}

.sub-title {
  font-weight: var(--fw-700);
  color: var(--clr-primary-100);
}

.main {
  gap: var(--spacer-lg);
}
.user-controls,
.buttons {
  gap: var(--spacer-md);
}

.user-controls {
  width: 100%;

  padding: var(--spacer-md);
  background-color: var(--clr-primary-600);
  box-shadow: var(--shadow);
}

.color-picker,
.pixel-size {
  gap: var(--spacer-md);
  margin-bottom: var(--spacer-md);
}
.color-picker-title,
.pixel-size-title {
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  color: var(--clr-primary-100);
}
.color-picker-input {
  width: 75px;
  height: 75px;
}
::-webkit-color-swatch,
::-moz-color-swatch{
  border: none;
}
.pixel-size-container {
  gap: var(--spacer-sm);
}
.pixel-size {
  width: 100%;
}
.pixel-size-slider {
  appearance: none;
  cursor: pointer;
  width: 100%;
  height: .5em;
  background: var(--clr-primary-400);
}
.pixel-size-slider::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--clr-primary-100);
  border-radius: 50%;
}
.pixel-size-slider::-moz-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: var(--clr-primary-100);
  border-radius: 50%;
}
.pixel-size-label {
  font-weight: var(--fw-700);
  color: var(--clr-primary-100);
}
.canvas {
    width: 500px;
    height: 500px;
    box-shadow: var(--shadow);
}

.row,
.cell {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1; 
}

/* === BUTTONS === */

.btn {
  cursor: pointer;
  max-width: 100%;
  width: 150px;
  padding: var(--spacer-sm);
  line-height: 1;
  font-size: var(--fs-400);

  color: var(--clr-primary-100);
  background-color: var(--clr-primary-500);
  border: none;
  box-shadow: var(--shadow);
  transition: all .02s;
}

.active,
.btn:hover {
  background-color: var(--clr-primary-700);
  box-shadow: none;
}

/* === UTILITY CLASSES === */

.flex {
  display: flex;
}
.flex-columns {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-content {
  justify-content: center;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.github:hover {
  opacity: 50%;
}

/* === MEDIA QUERIES === */

@media (max-width: 35em) {
  header {
    margin-bottom: var(--spacer-lg);
  }
  .main {
      flex-direction: column;
  }
  .user-controls {
    flex-direction: row;
    width: 100%;
  }
}