/* === CUSTOM PROPERTIES === */

:root {
    /* colors */
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(0, 0%, 50%);
    --clr-neutral-500: hsl(0, 0%, 30%);
    --clr-neutral-600: hsl(0, 0%, 20%);
    --clr-neutral-900: hsl(0, 0%, 0%);
    
    --clr-primary-300: hsl(198, 100%, 95%);
    --clr-primary-400: hsl(198, 100%, 75%);
    --clr-primary-500: hsl(198, 100%, 55%);
    --clr-primary-600: hsl(198, 100%, 35%);
    --clr-primary-700: hsl(198, 100%, 15%);

    --shadow: 3px 3px 5px rgb(0 0 0 / .3);

    /* font-sizes */
    --fs-200: .75rem;
    --fs-300: .875rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2rem;
    --fs-800: 3rem;
    --fs-900: 4rem;

    /* font weights */
    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;
    --fw-900: 900;
    
    /* font-families */
    --ff-primary: 'Lato', sans-serif;

    /* Spacing */
    --spacer-sm: .5rem;
    --spacer-md: 1rem;
    --spacer-lg: 2rem;

    /* Border Radius */
    --br-sm: .5em;
    --br-md: 2em;
    --br-lg: 10em;
;
}
/* === BASE RESET === */

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
}

/* min body height */

body {
  min-height: 100vh;
  line-height: 1.5;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* === GENERAL STYLES === */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  background: linear-gradient(var(--clr-primary-500), var(--clr-primary-400));
}

.title {
    font-size: var(--fs-900);
    font-weight: var(--fw-900);
    color: var(--clr-primary-300);
}

.container {
    padding: var(--spacer-lg);
    max-width: 75rem;
}

.main {
  gap: var(--spacer-lg);
}
.user-controls,
.buttons {
  gap: var(--spacer-md);
}

.user-controls {
  width: 12rem;
  padding: var(--spacer-md);
  background-color: var(--clr-primary-600);
  box-shadow: var(--shadow);
}

.draw-hint {
  font-weight: var(--fw-700);
  color: var(--clr-primary-400);
}
.color-picker,
.pixel-size {
  gap: var(--spacer-md);
  margin-bottom: var(--spacer-md);
}
.color-picker-title,
.pixel-size-title {
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  color: var(--clr-primary-300);
}
.color-picker-input {
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--clr-primary-300);
}

.pixel-size {
  width: 100%;
}
.pixel-size-slider {
  width: 100%;
}
.pixel-size-label {
  font-weight: var(--fw-700);
  color: var(--clr-primary-300);
}
.canvas {
    width: 500px;
    height: 500px;
    box-shadow: var(--shadow);
}

.row,
.cell {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.cell {
  border: 1px solid var(--clr-primary-300);
}

/* === BUTTONS === */

.btn {
  cursor: pointer;
  max-width: 100%;
  width: 150px;
  padding: var(--spacer-sm);
  line-height: 1;
  font-size: var(--fs-300);
  color: var(--clr-primary-300);
  background-color: var(--clr-primary-500);
  border: none;
  /* border-radius: var(--br-lg); */
  box-shadow: var(--shadow);
}

.active,
.btn:hover {
  background-color: var(--clr-primary-700);
  transition: all .02s;
}


/* === UTILITY CLASSES === */

.flex {
  display: flex;
}
.flex-columns {
  flex-direction: column;
}
.align-items-center {
  align-items: center;
}
.justify-content {
  justify-content: center;
}
.text-align-center {
  text-align: center;
}